go 1.18

use (
	.
	./contrib/adapter/fasthttp
	./contrib/codec/wwwform
	./contrib/doc/swagger
	./examples/fasthttp_server
	./examples/gws_server
	./examples/http3_server
	./examples/http_server
	contrib/adapter/gws
	contrib/adapter/http
	contrib/codec/jsoniter
	contrib/log/zerolog
)
